/* style.css */
body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to bottom, #ff7eb9, #ff65a3);
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    margin: 0;
}

.valentine-title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    display: inline-block;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    background-image: url("heart-svgrepo-com.svg");
}

button {
    background: linear-gradient(45deg, #ff4d4d, #ff7f50);
    width: 200px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 15px 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #ff6666, #ff9966);
}

#personCard img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

#personCard {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

#personCard.hidden {
    visibility: hidden;
    opacity: 0;
}


.footer {
    background-color: #ff7eb9;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border-top: 5px solid #ff65a3;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 30px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ff65a3;
}

.footer p {
    margin: 10px 0;
}

